name: Build Nextra Docs (PR)

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    if: github.head_ref == 'website'
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./website

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build (Next + export)
        env:
          NODE_ENV: production
        run: pnpm build
